
body{
    background: #feefe5;
    font-family: sans-serif;
    margin: 0;
}
/* naavbar */
.nav{

    background: #feefe5;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;

    width: 100%;
    z-index: 100;
}
.nav ul{
    margin-left: auto;
    margin-right: 20px;
}
.nav ul li{
    display: inline-block;
    margin: 10px;
}
.nav ul li a{
    text-decoration: none;
    color:#c35571;
    float:right;
    padding: 10px 30px;

}
.nav .selected{
    color: #feefe5;
    background: #c35571;
    border-radius: 40px;
}
.nav a:hover{
    color: #c35571;
    background: white;
    border-radius: 40px;
}
/* ======WELCOME PART1=======*/
.left{
    width: 40%;
    background-color: rgba(195,85,113,0.1);
}

/* ==========FOOTER=========*/
.footer-basic {

    width: 100%;
    border-top: 5px solid #c35571;
    padding:40px 0;
    background-color:#feefe5;
    color:#4b4c4d;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    display: inline-block;
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
    color: #c35571;


}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

/*==============moodboards============*/


.image-grid {
    --gap: 16px;
    --num-cols: 6;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.image-grid-row-2 {
    grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

.image-grid img:hover{
    transform: scale(1.2);
    transition: 0.4s ease;
}

.quote{
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 100px;
    padding-bottom: 3px;
    background: url("portfolio_img/music4.png") -470px 650px;
    opacity: 0.9;
    /*background: linear-gradient(to bottom right,#c35571,pink);*/

}
.quote blockquote{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-size: x-large;
    color: black;
}

/* ================ello=================*/


.parallax {
    /* The image used */
    background-image: url("portfolio_img/backg.png");
    width: 100%;

    /* Full height */
    height: 1080px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



div.third{
    border-top: 5px solid #c35571;
    height: 600px;
    background: linear-gradient(to right,white,#c35571);
    width: 100%;
    margin-top: 0;
    justify-content: center;
    justify-items: center;
    display: flex;
}

.btn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    background: #c35571;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btn h1{
    margin-top: 117px;
}
.btn:hover{
    opacity: 0.7;
}

/*====================ABOUT ME=================*/

.aboutME{
    /* The image used */
    background-image: url("portfolio_img/bbb.png");
    width: 100%;

    /* Full height */
    height: 1080px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.about-grid {
    --gap: 16px;
    --num-cols: 5;
    --row-height: 600px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}


.Hear{
    height: 550px;
    display: inline-block;
    background: white;
    border: 3px solid #4b4c4d;
    border-radius: 3%;
}
.Hear:hover{
    background: url("portfolio_img/hear1.png");
    background-size: contain;
}

.Hear .music iframe{
    border-radius: 50%;
    height: 220px;
    width: 220px;
    margin: 23px;
}
.Hear .music:hover{
    display: none;
}

.Taste{
    height: 550px;
    display: inline-block;
    background: url("portfolio_img/taste.png");
    background-size: cover;
    border: 3px solid #4b4c4d;
    border-radius: 3%;
}
.Taste:hover{
    background: url("portfolio_img/taste1.png");
    background-size: contain;
}
.Feel{
    height: 550px;
    display: inline-block;
    background: url("portfolio_img/feel.png");
    background-size: cover;
    border: 3px solid #4b4c4d;
    border-radius: 3%;
}
.Feel:hover{
    background: url("portfolio_img/feel1.png");
    background-size: contain;
}

.Smell{
    height: 550px;
    display: inline-block;
    background: url("portfolio_img/smell.png");
    background-size: cover;
    border: 3px solid #4b4c4d;
    border-radius: 3%;
}
.Smell:hover{
    background: url("portfolio_img/smell1.png");
    background-size: contain;
}

.Watch{
    height: 550px;
    display: inline-block;
    background: url("portfolio_img/watch.gif");
    background-size: cover;
    border: 3px solid #4b4c4d;
    border-radius: 3%;
}
.Watch:hover{
    background: url("portfolio_img/see1.png");
    background-size: contain;
}

/*=================YW===========*/

div.Erasmus{
    background-size: 1920px;
    height: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 0;
}
div.yw_left{
    width: 400px;
    height: 400px;
    padding: 30px;
    border-radius: 7px;
    border: 3px solid #c35571;
    margin-left: 40px;
}
.yw_left p{
    margin-top: 40px;
    text-align: justify;
}
div.yw_right{
    background: url("portfolio_img/erasmus.JPG");
    background-size: cover;
    width: 800px;
    height: 400px;
    padding: 30px;
    border-radius: 7px;
    border: 3px solid #c35571;
    margin-left: 40px;
}

div.Debate{
    background-size: 1920px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 0;
}
div.d_left{
    background-image: url("portfolio_img/debate.JPG");
    background-size: cover;
    width: 800px;
    height: 400px;
    padding: 30px;
    border-radius: 7px;
    border: 3px solid #c35571;
    margin-left: 40px;
}
.d_right p{
    margin-top: 40px;
    text-align: justify;
}
div.d_right{
    width: 400px;
    height: 400px;
    padding: 30px;
    border-radius: 7px;
    border: 3px solid #c35571;
    margin-left: 40px;
}

div.Hackatons{
    background-size: 1920px;
    height: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 0;
}
div.h_left{
    width: 400px;
    height: 400px;
    padding: 30px;
    border-radius: 7px;
    border: 3px solid #c35571;
    margin-left: 40px;
}
.h_left p{
    margin-top: 30px;
    text-align: justify;
}
.andrej h3{
    background: #c35571;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-decoration: none;
    color: #feefe5;
    width: 200px;
    margin-left: 90px;

}
.andrej h3:hover{
    opacity: 0.7;
}
.andrej{
    text-decoration: none;
}
div.h_right{
    background-image: url("portfolio_img/hackaton.jpg");
    background-size: cover;
    width: 800px;
    height: 400px;
    padding: 30px;
    border-radius: 7px;
    border: 3px solid #c35571;
    margin-left: 40px;
}

div.CET{
    background-size: 1920px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 0;
}
div.c_left{
    background-image: url("portfolio_img/cet.JPG");
    background-size: cover;
    width: 800px;
    height: 400px;
    padding: 30px;
    border-radius: 7px;
    border: 3px solid #c35571;
    margin-left: 40px;
}
div.c_right{
    width: 400px;
    height: 400px;
    padding: 30px;
    border-radius: 7px;
    border: 3px solid #c35571;
    margin-left: 40px;
}
.c_right p{
    margin-top: 40px;
    text-align: justify;
}
.c_right li{
    text-align: justify;
}

.BACK{
    background: linear-gradient(#f4e1e6,#d5889b);
}

/*==============programming===============*/
.main{
    padding-top: 200px;
    background: url("portfolio_img/bbb1.png");
    width: 100%;
    height: 600px;
}
iframe{
    width: 99.7%;
    height: 600px;
}
.tittle{
    text-align: center;
    line-height: 10px;
}
.tittle h1{
    font-size: xxx-large;
}
.technology-statement{
    text-align: justify;
    font-size: x-large;
    color: black;
    padding: 90px;
}
